
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}


body{
background-color: white;
min-height: 100vh;
    }

.para{
  font-size: 8px;
  font-weight: bold;
}

.bold{
  font-size: 20px;
  color:hsl(300,
    43%,
    22%);
    font-weight: bolder;
}

p{
  font-size: 7px;
}

span{
  font-size: 5px;
}

.small{
  width: 10px;
  height: auto;
}


.star{
    background-color: hsl(303,
      10%,
      53%);
        border-style:hidden;
        border-width: 5px;
        box-sizing: content-box;
        border-radius: 3px;
        width: 150px;
        height: 20px;
        padding: auto;
        align-content: center;
        color: hsl(300,
          43%,
          22%);
          font-size: 10%;
          font-weight: bold;
}

.borders{
    background-color: hsl(300,
      43%,
      22%);
    border-style:hidden;
    border-width: 5px;
    box-sizing: content-box;
    border-radius: 1%;
    width: 150px;
    height: 70px;
    padding-left: 10px;
    padding-top: 15px;
          
        font-size: 2%;
        color:white
 
}

.image{
  width: 15px;
  height: 15px;
  border-radius: 50px;
}

