body{
    background-color:rgb(20, 20, 20) ;
}


.flexcontainer{
    background-color: white;
    width: 900px;
    height: 800px;
    margin-right:300px;
    margin-top: 30px;
    margin-bottom: auto;
   margin-left:auto;
   padding-left: 100px;
   padding-top: 10px;
   align-items: center;
align-content: center;
}

.first {
    display: flex;
    flex-direction: column
}

.second {
    display: flex;
    flex-direction: column-reverse;
}

.second {
    display: flex;
    flex-direction: unset;
}

.ico {
    display: flex;
    flex-direction: inherit;
    padding-left: 60%;
    padding-right: 5%;
   
}
.borders1{
    background-color: blueviolet;
    border-width: 30%;
    border-style: dotted;
    border-radius: 30%;
    border-color: blueviolet;
    align-items: center;
    box-sizing: content-box;
}

.borders2 {
    background-color: blueviolet;
    border-width: 30%;
    border-style: dotted;
    border-radius: 20%;
    border-color: blueviolet;
    align-items: center;
}

.borders3 {
    background-color: blueviolet;
    border-width: 50%;
    border-style: dotted;
    border-radius: 20%;
    border-color: blueviolet;
    color: black;
}



img{
       border-width: 5%;
    border-radius: 50%;
}

.slight{
    background-color: rgb(240, 205, 240);
    color: blueviolet;
       border-width: 0%;
    border-radius: 10%;
           box-sizing: border-box;
}

.slight1 {
    background-color: rgb(240, 205, 240);
    color: blueviolet;
        border-width: 10%;
    border-radius: 5%;
    box-sizing: 5%
}

.slight2 {
    background-color: rgb(240, 205, 240);
    color: blueviolet;
       border-width: 0%;
    border-radius: 10%;
    box-sizing:border-box
    
}


